/* Estilização global */
* {
  font-size: var(--font-size-medium);
  box-sizing: border-box;
  transition: all 0.6s;
}

/* Variaveis globais */
:root {
  /* Tamanhos */
  --font-size-small: 0.75rem; /* Tamanho de fonte pequeno */
  --font-size-medium: 1rem; /* Tamanho de fonte médio */
  --font-size-large: 1.5rem; /* Tamanho de fonte grande */
  --font-size-xlarge: 1.75rem; /* Tamanho de fonte extra grande */

  /* Espaçamentos */
  --padding-small: 0.5rem; /* Padding pequeno */
  --padding-medium: 0.75rem; /* Padding médio */
  --padding-large: 1rem; /* Padding grande */
  --margin-small: 0.5rem; /* Margin pequeno */
  --margin-medium: 1rem; /* Margin médio */
  --margin-large: 2rem; /* Margin grande */

  /* Bordas */
  --border-radius-small: 0.5rem; /* Raio de borda pequeno */
  --border-radius-medium: 1rem; /* Raio de borda médio */
  --border-width: 0.5px; /* Largura da borda */
}
/* Variáveis de estilo - Tema claro */
[data-theme="light"] {
  /* Cores */
  --bg-color: #dedfe0;
  --border-color: #ccc;
  --text-color: #000;
  --font-color: #212529;

  --header-bg-color: #ffffff;
  --button-text-color: #ffffff;
  --button-hover-text-color: #0056b3;
  --button-bg-color: #007bff;
  --button-hover-bg-color: #0056b3;
  --hover-text-color: #000000;
  --toggle-theme-icon: #007bff;

  --footer-bg-color: #ffffff;
  --footer-text-color: #212529;
  --footer-link-color: #007bff;
  --footer-link-hover-color: #0056b3;
}
/* Variáveis de estilo - Tema escuro */
[data-theme="dark"] {
  /* Cores */
  --bg-color: #212529;
  --border-color: #666;
  --text-color: #000;
  --font-color: #f1f5f9;

  --header-bg-color: #333;
  --button-text-color: #000;
  --button-hover-text-color: #00ff00;
  --button-bg-color: #00ff00;
  --button-hover-bg-color: #333;
  --hover-text-color: #fff;
  --toggle-theme-icon: #ffd700;

  --footer-bg-color: #333;
  --footer-text-color: #f1f5f9;
  --footer-link-color: #00ff00;
  --footer-link-hover-color: #ffffff;
}

/* estilização do body */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Ubuntu", sans-serif;
}

/* estilização do header */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: var(--padding-large);
  background-color: var(--header-bg-color);
}

.div_header {
  display: flex;
  justify-content: center;
  width: 30%;
  gap: 1rem;
} 
/* estilização do header - nav */
nav {
  display: flex;
  gap: 1rem;
}
.nav_pages {
  padding: var(--padding-small) var(--padding-medium);

  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: var(--button-text-color);

  background-color: var(--button-bg-color);
  border: solid var(--border-width) var(--button-bg-color);
  cursor: pointer;
  border-radius: var(--border-radius-small);
}
.toggle_Theme:hover,
.nav_pages:hover {
  background-color: var(--header-bg-color);
  color: var(--button-hover-text-color);
  border: solid var(--border-width) var(--button-bg-color);
}

/* estilização do header - h1 */
h1 {
  color: var(--button-bg-color);
  text-align: center;
  margin: var(--margin-small);
  padding: var(--padding-small) var(--padding-medium);
  font-size: var(--font-size-xlarge);
  white-space: nowrap;
}

/* estilizando o toggle-Thema */
.toggle_Theme {
  margin: 0;
  padding: var(--padding-small) var(--padding-medium);
}
.toggle_Theme:hover {
  color: var(--toggle-theme-icon);
}
.icon_Theme {
  font-size: var(--font-size-large);
}

/* estilização da main */
main {
  width: 90%;
  margin: var(--margin-large) auto;
  padding: var(--padding-large);
}

/* estilização do fieldset */
fieldset {
  background-color: var(--header-bg-color);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  color: var(--font-color);
  padding: var(--padding-large);
}

/* estilização do fieldset - legend */
legend {
  color: var(--button-bg-color);
  text-align: center;
  padding: var(--padding-small);
  font-size: var(--font-size-large);
  font-weight: 700;
}

form {
  text-align: center;
}

/* estilização do fieldset - p */
p {
  margin: var(--margin-small);
}

/* estilização dos div inputs */
.inputs {
  display: flex;
  gap: var(--margin-small);
  text-align: center;
  align-items: center;
}

/* estilização dos div inputs */
.div_buttons {
  display: flex;
  gap: var(--margin-small);
  text-align: center;
  align-items: center;
  width: 60%;
}

/* estilização dos div inputs */
.div_busca {
  display: flex;
  gap: var(--margin-small);
  text-align: center;
  align-items: center;
  width: 40%;
}

/* estilização do fieldset - button */
button {
  text-align: center;
  font-weight: 700;
  padding: var(--padding-small) var(--padding-medium);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  cursor: pointer;
  border: solid var(--border-width) var(--button-bg-color);
  border-radius: var(--border-radius-small);
}
button:hover {
  background-color: var(--header-bg-color);
  color: var(--button-hover-text-color);
  border: solid var(--border-width) var(--button-bg-color);
}

/* estilização do fieldset - .calc_button */
.arquiv_button {
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius-small);
  display: block;
  font-size: var(--font-size-small);
  padding: var(--padding-medium);
  text-align: end;
  width: 30%;
}
.arquiv_button {
  text-align: center;
  font-weight: 700;
  padding: var(--padding-small) var(--padding-medium);
  background-color: var(--button-bg-color);
  border: solid var(--border-width) var(--button-bg-color);
  cursor: pointer;
  border-radius: var(--border-radius-small);
}
.arquiv_button:hover {
  background-color: var(--header-bg-color);
  border: solid var(--border-width) var(--button-bg-color);
}

a i,
button i,
a ion-icon,
button ion-icon {
  transition: 0.2s;
}

a:hover i,
button:hover i,
a:hover ion-icon,
button:hover ion-icon {
  transition: 0.2s;
}

/* estilização do fieldset - input */
input,
select {
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius-small);
  color: var(--font-color);
  display: block;
  font-size: var(--font-size-small);
  margin: var(--margin-small) 0;
  padding: var(--padding-medium);
  text-align: end;
  width: 100%;
}
input:hover,
select:hover {
  border: 2px solid var(--button-bg-color);
}
/* estilização do fieldset - operadores */
select {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 4rem;
}
select:hover {
  border: 2px solid var(--button-bg-color);
}
/* estilização do fieldset - input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  appearance: none;
}

/* estilização dos div inputs */
.textArea {
  display: flex-block;
  gap: var(--margin-small);
  text-align: center;
  margin-top: var(--margin-medium);
  align-items: center;
}
/* estilização do fieldset - textarea */
textarea {
  width: 100%;
  height: 10rem;
  padding: 20px;
  margin-bottom: 20px;
  color: var(--code-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  border: solid 2px var(--border-color);
  resize: none;
}

/* estilização do fieldset - load */

.progress-container {
  width: 100%;
  height: 5px;
  background: #ddd;
  margin-bottom: 5px;
  border-radius: 60px;
}

.progress-bar {
  width: 0%;
  height: 5px;
  background: #007bff;
  border-radius: 60px;
  transition: width 2s ease-in-out;
}

/* estilização do footer */
footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  text-align: center;
  padding: var(
    --padding-large
  ); /* Você pode definir essa variável se necessário */
  margin-top: var(
    --margin-large
  ); /* Você pode definir essa variável se necessário */
}
footer a {
  color: var(--footer-link-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--footer-link-hover-color);
  text-decoration: underline;
}

/* Estilos para telas menores (tablets, smartphones grandes) */
@media screen and (max-width: 1024px) {
  * {
    font-size: var(--font-size-medium);
  }

  header {
    flex-direction: column;
    text-align: center;
  }

  .inputs{
    align-items: start;
    flex-direction: column;
  }
  .div_buttons,
  .div_busca {
    flex-direction: row;
    width: 100%;
  }

  .arquiv_button {
    width: 50%;
  }
}

/* Estilos para telas pequenas (smartphones) */
@media screen and (max-width: 768px) {
  * {
    font-size: var(--font-size-small);
  }

  h1 {
    font-size: var(--font-size-large);
  }

  main {
    width: 95%;
    padding: var(--padding-small);
  }

  fieldset {
    padding: var(--padding-medium);
  }

  .inputs{
    flex-direction: column;
    margin-top: 8px;
  }
  .div_buttons,
  .div_busca {
    flex-direction: row;
    width: 100%;
  }

  .arquiv_button {
    width: 70%;
  }

  input,
  select,
  textarea {
    font-size: var(--font-size-small);
    padding: var(--padding-small);
    margin: 0;
  }
}

/* Estilos para telas muito pequenas (celulares pequenos) */
@media screen and (max-width: 480px) {
  h1 {
    font-size: var(--font-size-medium);
  }

  .nav_pages {
    font-size: var(--font-size-small);
    padding: var(--padding-small);
  }

  .inputs{
    flex-direction: column;
    margin-top: 8px;
  }
  .div_buttons,
  .div_busca {
    flex-direction: row;
    width: 100%;
  }

  .arquiv_button {
    width: 90%;
  }

  button {
    font-size: var(--font-size-small);
  }

  input,
  select,
  textarea {
    width: 100%;
    font-size: var(--font-size-small);
    padding: var(--padding-small);
    margin: 0;
  }

  footer {
    padding: var(--padding-small);
  }
}
